// Variables
$primary: rgb(26, 26, 26);
$secondary: rgb(219, 224, 227);
$success: #4BBF73;
$info: #1F9BCF;
$warning: #f0ad4e;
$danger: #d9534f;
$light: #fff;
$dark: #343a40;
$enable-rounded: false;
$body-color: #1a1a1a;
$font-family-base: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.00rem;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;
$headings-font-weight: 600;
$headings-color: #1a1a1a;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-border-width: 0px;
$input-padding-y: 0.75rem;
$input-padding-x: 2rem;
$input-bg: #f7f7f9;
$input-disabled-bg: #eceeef;
$btn-padding-y: 0.75rem;
$btn-padding-x: 2rem;
$btn-font-weight: 600;
$btn-border-width: 0px;
$btn-line-height: 1.5;
$input-group-addon-bg: #eceeef;
$navbar-padding-y: 1.5rem;
$navbar-dark-hover-color: #fff;
$navbar-light-color: rgba(#000,.3);
$navbar-light-hover-color: #1a1a1a;
$navbar-light-active-color: #1a1a1a;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;
$pagination-disabled-border-color: transparent;
$breadcrumb-bg: transparent;
$white: rgb(255, 255, 255);
$enable-shadows: false;

// Imports
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
