// Variables
$primary: #375a7f;
$secondary: #444;
$success: #00bc8c;
$info: #3498DB;
$warning: #F39C12;
$danger: #E74C3C;
$light: #303030;
$dark: #303030;
$body-bg: #222;
$body-color: #fff;
$font-family-base: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9375rem;
$table-accent-bg: #303030;
$table-border-color: #444;
$table-dark-bg: #adb5bd;
$table-dark-border-color: #adb5bd;
$input-border-color: transparent;
$input-group-addon-bg: #444;
$input-group-addon-color: #fff;
$dropdown-bg: #222;
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #375a7f;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: #ebebeb;
$nav-tabs-link-active-color: #fff;
$nav-tabs-border-color: #444;
$navbar-padding-y: 1rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #00bc8c;
$navbar-light-color: rgba(255,255,255,0.5);
$navbar-light-hover-color: #fff;
$navbar-light-active-color: #fff;
$navbar-light-disabled-color: rgba(255,255,255,0.3);
$pagination-color: #fff;
$pagination-bg: #00bc8c;
$pagination-border-width: 0px;
$pagination-border-color: transparent;
$pagination-hover-color: #fff;
$pagination-hover-bg: #00bc8c;
$pagination-active-bg: #00efb2;
$pagination-disabled-color: #fff;
$pagination-disabled-bg: #007053;
$jumbotron-bg: #303030;
$card-bg: #303030;
$popover-bg: #303030;
$progress-height: 10px;
$progress-font-size: 0.63rem;
$progress-bg: #444;
$list-group-bg: #303030;
$list-group-border-color: #444;
$breadcrumb-bg: #444;

// Imports
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
