      <!-- content-7-->

      <section class="content-7 v-center">
          <div>
            <div class="container">
              <div class="row v-center">
                <div class="col-sm-3">
                  <div>
                    You can decide whether to create your site using
                    <span class="ui-kit-color">UI Kit</span> blocks or samples.
                    Now you have the design.
                  </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1 text-center">
                  <img alt="" src="{{ "/assets/img/header/iphone.png" | relative_url }}" />
                </div>
                <div class="col-sm-3">
                  <div class="col-sm-offset-2">
                    <h6>Clear Grid</h6>
                    It allows you to find understanding between the designer and
                    developer.
                    <h6>Retina Ready</h6>
                    Startup Framework works fine on devices supporting Retina
                    Display.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>