<section class="sec2_20">
  <div class="container">
    <div class="inner">
      <div class="pretitle">Featured</div>
      <h2>Media Sourcery, Inc.</h2>
      <div class="sec1_13_text">Our unique online teaching style makes learning easy for everyone.</div>
      <a href="#" class="sec3_5_btn">View Project</a>
      <div class="sec2_20_block">
        <div class="title"><img src="{{ "/assets/i/sec2_20_img1.png" | relative_url }}" alt="" />Design</div>
        <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
      </div>
      <div class="sec2_20_block">
        <div class="title"><img src="{{ "/assets/i/sec2_20_img2.png" | relative_url }}"  alt="" />Development</div>
        <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum iste nobis praesentium.</div>
      </div>
    </div>
    <img src="{{ "/assets/i/bg_sec2_20.png" | relative_url }}" alt="" class="bg_sec2_20" />
  </div>
</section>