    <section id="features" class="feature-area gray-bg pt-128 pb-70">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section-heading pb-55 text-center">
              <h2>Products and Solutions</h2>
              <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
              <div class="awesome-feature-icon">
                <span><i class="icofont icofont-alarm"></i></span>
              </div>
              <div class="awesome-feature-details">
                <h5>Task Automation</h5>
                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
              <div class="awesome-feature-icon">
                <span><i class="icofont icofont-light-bulb"></i></span>
              </div>
              <div class="awesome-feature-details">
                <h5>Data Automation</h5>
                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm">
            <div class="awesome-feature text-center">
              <div class="awesome-feature-icon">
                <span><i class="icofont icofont-code"></i></span>
              </div>
              <div class="awesome-feature-details">
                <h5>Workflow Management</h5>
                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
              <div class="awesome-feature-icon">
                <span><i class="icofont icofont-ui-video-chat"></i></span>
              </div>
              <div class="awesome-feature-details">
                <h5>Security & Audit</h5>
                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
              <div class="awesome-feature-icon">
                <span><i class="icofont icofont-ui-head-phone"></i></span>
              </div>
              <div class="awesome-feature-details">
                <h5>Great Support</h5>
                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm">
            <div class="awesome-feature text-center">
              <div class="awesome-feature-icon">
                <span><i class="icofont icofont-heart"></i></span>
              </div>
              <div class="awesome-feature-details">
                <h5>Unlimited Features</h5>
                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>