    <!-- How it work start -->
    <style>
      /* .how-to-background {background: rgba(0, 0, 0, 0) url("/assets/img/bg/1.png") repeat scroll center center / cover ;} */
      .how-to-background {background: white;}
    </style>
		<section class="how-work-area pt-130 pb-125 how-to-background">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="how-work-right text-center">
							<img src="{{ "/assets/img/other/work.png" | relative_url }}" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="how-work-left mt-90">
							<h2>How It Works</h2>
							<div class="how-work-tab mt-55">
								<ul>
									<li class="active"><a data-toggle="tab" href="#home">1. Download</a></li>
									<li><a data-toggle="tab" href="#menu1">2. Install</a></li>
									<li><a data-toggle="tab" href="#menu2">3. Run</a></li>
								</ul>
								<div class="tab-content">
									<div id="home" class="mt-45 tab-pane fade in active">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu1" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu2" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- How it work End -->