<footer class="footer4">
  <div class="container">
    <div class="left">
      <a href="#">About</a>
      <a href="#">Careers</a>
      <a href="#">Support</a>
      <span class="mobile_row2">
            <a href="#" class="social tw"></a>
            <a href="#" class="social fb"></a>
            <a href="#" class="social gp"></a>
          </span>
    </div>
    <div class="right">
      <a href="#">HELP</a>
      <a href="#">CONTACT US</a>
      <a href="#">LIVE CHAT</a>
    </div>
    <div class="clr"></div>
    <div class="left">
      <a href="#" class="grey">PRIVACY POLICY</a>
      <a href="#" class="grey">TERMS <i>& </i>CONDITIONS</a>
    </div>
    <div class="right">
      © 2019 Media Sourcery Inc.- Austin, TX - All Rights Reserved
    </div>

  </div>
</footer>
