
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Media Sourcery Inc.</h5>
          <i class="grey-text text-lighten-4">A security company providing workflow solutions.</i>
          <p style="margin-bottom: 0;" class="grey-text text-lighten-4">1234 Congress Ave.</p>
          <p style="margin-top: 0;" class="grey-text text-lighten-4">Ausitn, Texas 78249</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Links</h5> -->
          <ul style="padding-top: 1em;">
            <li style="padding-top:1em;"><a class="grey-text text-lighten-3" href="#!">512-123-4567</a></li>
            <li style="padding-top:1em;"><a class="grey-text text-lighten-3" href="{{ "https://pipeline.datamessenger.net/demo/" | relative_url }}" target="_blank">Demo our Product</a></li>
            <li style="padding-top:1em;"><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="padding: 0; height: 25px;">
      <div class="container center-align">
      © 2019 &bull; All Rights Reserved
      </div>
    </div>
  </footer>