      <!-- logos-->

      <section class="logos">
          <div class="container">
            <div>
              <img
                src="{{ "/assets/img/logos/generator.png" | relative_url }}"
                height="29"
                width="140"
                alt="Generator"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/theGuardian.png" | relative_url }}"
                height="29"
                width="164"
                alt="TheGuardian"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/forbes.png" | relative_url }}"
                height="29"
                width="93"
                alt="Forbes"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/theNewYorkTimes.png" | relative_url }}"
                height="29"
                width="201"
                alt="TheNewYorkTimes"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/tumblr.png" | relative_url }}"
                height="29"
                width="119"
                alt="Tumblr."
              />
            </div>
          </div>
        </section>