      <!-- logos-->

      <section class="logos">
          <div class="container">
            <div>
              <img
                src="{{ "/assets/img/logos/" | relative_url }}{{ include.logo1 }}"
                height="29"
                width="140"
                alt="Generator"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/" | relative_url }}{{ include.logo2 }}"
                height="29"
                width="164"
                alt="TheGuardian"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/" | relative_url }}{{ include.logo3 }}"
                height="29"
                width="93"
                alt="Forbes"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/" | relative_url }}{{ include.logo4 }}"
                height="29"
                width="201"
                alt="TheNewYorkTimes"
              />
            </div>
            <div>
              <img
                src="{{ "/assets/img/logos/" | relative_url }}{{ include.logo5 }}"
                height="29"
                width="119"
                alt="Tumblr."
              />
            </div>
          </div>
        </section>