<!-- 
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Media Sourcery Inc.</h5>
        <i class="grey-text text-lighten-4">A security company providing workflow solutions.</i>
        <p style="margin-bottom: 0;" class="grey-text text-lighten-4">1234 Congress Ave.</p>
        <p style="margin-top: 0;" class="grey-text text-lighten-4">Ausitn, Texas 78249</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul style="padding-top: 1em;">
          <li style="padding-top:1em;"><a class="grey-text text-lighten-3" href="#!">512-123-4567</a></li>
          <li style="padding-top:1em;"><a class="grey-text text-lighten-3" href="{{ "https://pipeline.datamessenger.net/demo/" | relative_url }}" target="_blank">Demo our Product</a></li>
          <li style="padding-top:1em;"><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="padding: 0; height: 25px;">
    <div class="container center-align">
    © 2019 &bull; All Rights Reserved
    </div>
  </div>
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small unique-color pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <!-- spacer -->
      <div class="col-md-1 mt-md-0 mt-3"></div>
      <!-- Grid Column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Media Sourcery Inc.</h5>
        <p>A security company providing workflow solutions.</p>
        <p style="margin-bottom: 0;">1234 Congress Ave.</p>
        <p style="margin-top: 0;">Ausitn, Texas 78249</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Products</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{{ "https://pipeline.datamessenger.net/demo/" | relative_url }}" target="_blank">Live Demo</a>
          </li>
          <li>
            <a href="#!">Product 2</a>
          </li>
          <li>
            <a href="#!">Product 3</a>
          </li>
          <li>
            <a href="#!">Product 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">512-123-4567</a>
          </li>
          <li>
            <a href="#!">Send an email</a>
          </li>
          <li>
            <!-- <a href="#!">Text our product</a> -->
            <p class="text-uppercase" style="margin-bottom: 0;">Text our product</p>
          </li>
          <li>
            <a href="#!">123-456-9876</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright &bull; Media Sourcery Inc.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->