
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Product-1</a></li>
  <li><a href="#!">Product-2</a></li>
</ul>

<nav class="z-depth-0">
  <div class="nav-wrapper">
    <!-- logo -->
    <a href="{{ "/" | relative_url }}" class="brand-logo"><img style="margin-left: 1em; margin-top: .4em;height: 40px; width:200px;" src="{{ "/assets/logos/MSI-w.svg" | relative_url }}" alt="Media Sourcery Inc logo" class="img-responsive">
    </a>
    <a href='#' data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ "https://pipeline.datamessenger.net/demo/" | relative_url }}" target="_blank">Live Demo</a></li>
      <li><a href="{{ "/about" | relative_url }}">About</a></li>
      <li><a href="{{ "/story" | relative_url }}">Story</a></li>
      <li><a href="{{ "/plan" | relative_url }}">Expansion</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Products<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-menu">
    <li><a href="{{ "https://pipeline.datamessenger.net/demo/" | relative_url }}" target="_blank">Live Demo</a></li>
    <li><a href="{{ "/about" | relative_url }}">About</a></li>
    <li><a href="{{ "/story" | relative_url }}">Story</a></li>
    <li><a href="{{ "/plan" | relative_url }}">Expansion</a></li>
    <li><a href="{{ "#" | relative_url }}">Product 1</a></li>
    <li><a href="{{ "#" | relative_url }}">Product 2</a></li>
    
</ul>