<a class="mobile_menu" data-open="nav5" id="mobile_menu"></a>
		
<nav class="nav5" id="nav">
  <a class="mobile_menu_close"></a>
  <div class="container">
    <a href="#" class="nav5_logo">Media Sourcery, Inc.</a>
    <a href="#">Showcase</a>
    <a href="#">Key Features</a>
    <a href="#">Our Services</a>
    <a href="#">Our Customers</a>

    <div class="socials">
      <a href="#" target="_blank" class="tw"></a>
      <a href="#" target="_blank" class="fb"></a>
      <a href="#" target="_blank" class="gp"></a>
    </div>
  </div>
</nav>