<!-- partners -->
<section class="my-5">
    <div class="container">
      <div class='row'>
        <article class="col-12">
          <h3>Our Partners</h3>
          <p>Sit minim laboris voluptate officia nulla mollit amet Lorem eu sit. Consequat cillum do ex ullamco irure ut excepteur ut sint. Nisi cillum in est nulla voluptate minim cillum nisi. Ut laboris enim aute ut cupidatat pariatur adipisicing reprehenderit. Eiusmod ea aute est nulla cillum reprehenderit ex velit ut excepteur eu. Ipsum magna est Lorem ad duis commodo ipsum. Et voluptate deserunt ad ipsum nisi aliqua reprehenderit nulla fugiat sint occaecat.</p>
        </article>
        <article class="col-6 col-md-4 offset-md-1">
            <!-- Card Wider -->
            <div class="card card-cascade wider">
            
              <!-- Card image -->
              <div class="view view-cascade overlay m-5">
                <img  class="card-img-top" src="{{ "/assets/img/logos/twilio.png" | relative_url}}" alt="Twilio Logo, Media Sourcery partner">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
            
                <!-- Title -->
                <h4 class="card-title"><strong>Title</strong></h4>
                <!-- Subtitle -->
                <h5 class="blue-text pb-2"><strong>Subtitle</strong></h5>
                <!-- Text -->
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
            
              </div>
            
            </div>
            <!-- Card Wider -->
        </article>
        <article class="col-6 col-md-4 offset-md-2">
          <!-- Card Wider -->
          <div class="card card-cascade wider">
                  
              <!-- Card image -->
              <div class="view view-cascade overlay m-5">
                <img  class="card-img-top" src="{{ "/assets/img/logos/pokitdok.png" | relative_url}}" alt="Twilio Logo, Media Sourcery partner">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
            
                <!-- Title -->
                <h4 class="card-title"><strong>Title</strong></h4>
                <!-- Subtitle -->
                <h5 class="blue-text pb-2"><strong>Subtitle</strong></h5>
                <!-- Text -->
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
              </div>
            </div>
            <!-- Card Wider -->
        </article>
      </div>
    </div>
  </section>