<section class="SERVICE_AREA">
  <section class="service-area gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="single-service">
              <div class="service-icon">
                <img src="{{ "assets/img/icon/service-icon-1.png" | relative_url }}" alt="">
              </div>
              <div class="service-content">
                <h2>Easy To Customize</h2>
                <p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-service">
              <div class="service-icon">
                <img src="{{ "assets/img/icon/service-icon-2.png" | relative_url }}" alt="">
              </div>
              <div class="service-content">
                <h2>Awesome Design</h2>
                <p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm">
            <div class="single-service">
              <div class="service-icon">
                <img src="{{ "assets/img/icon/service-icon-3.png" | relative_url }}" alt="">
              </div>
              <div class="service-content">
                <h2>Easy To Use</h2>
                <p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>
