<section class="SERVICE_AREA">
  <section class="service-area gray-bg pt-70 pb-55">
      <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section-heading text-center">
              <h2>Partners</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 text-center">
              <img width=250 class="partnerLogo" src="{{ "assets/img/icon/twilio.png" | relative_url }}" alt="">
            <!-- <div class="single-service">
              <div class="service-icon">
                <img width=320 src="{{ "assets/img/icon/twilio.png" | relative_url }}" alt="">
              </div>
              <div class="service-content">
                <h2>Twilio</h2>
                <p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
              </div>
            </div> -->
          </div>
          <div class="col-md-6 col-sm-6 text-center">
              <img width=250  src="{{ "assets/img/icon/pokitdok-logo-new-xl.png" | relative_url }}" alt="">
            <!-- <div class="single-service">
              <div class="service-icon">
                <img width=320  src="{{ "assets/img/icon/pokitdok-logo-new-xl.png" | relative_url }}" alt="">
              </div>
              <div class="service-content">
                <h2>Pokitdok</h2>
                <p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
              </div>
            </div> -->
          </div>
          <!-- <div class="col-md-4 hidden-sm">
            <div class="single-service">
              <div class="service-icon">
                <img src="{{ "assets/img/icon/service-icon-3.png" | relative_url }}" alt="">
              </div>
              <div class="service-content">
                <h2>Easy To Use</h2>
                <p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
</section>
