<header class="header15">
  <div class="container">
    <div class="inner">
      <h1>Rift. <span>Next Generation</span> <i>Virtual</i> Reality</h1>
      <div class="header15_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, necessitatibus. At quos vel, et possimus, praesentium voluptates obcaecati, enim inventore distinctio impedit repudiandae sequi.</div>
      <a href="#" class="header15_btn big">Order Now</a>
      <div class="header15_text2">Available Now.</div>
    </div>
  </div>
</header>