<section class="sec1_1">
  <div class="container text-center">
    <div class="col-md-4 bullet1">
      <img src="{{ "/assets/i/bullet1-1.png" | relative_url }}" alt="" />
      <h3 class="text-uppercase">Lorem ipsum dolor</h3>
      <div class="bullet1_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
    <div class="col-md-4 bullet1 bullet1_border_sides">
      <img src="{{ "/assets/i/bullet1-2.png" | relative_url }}" alt="" />
      <h3 class="text-uppercase">Lorem ipsum dolor</h3>
      <div class="bullet1_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
    <div class="col-md-4 bullet1">
      <img src="{{ "/assets/i/bullet1-3.png" | relative_url }}" alt="" />
      <h3 class="text-uppercase">Lorem ipsum dolor</h3>
      <div class="bullet1_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
    <div class="clr"></div>
    <div class="col-md-4 bullet1 bullet1_no_border">
      <img src="{{ "/assets/i/bullet1-4.png" | relative_url }}" alt="" />
      <h3 class="text-uppercase">Lorem ipsum dolor</h3>
      <div class="bullet1_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
    <div class="col-md-4 bullet1 bullet1_no_border bullet1_border_sides">
      <img src="{{ "/assets/i/bullet1-5.png" | relative_url }}" alt="" />
      <h3 class="text-uppercase">Lorem ipsum dolor</h3>
      <div class="bullet1_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
    <div class="col-md-4 bullet1 bullet1_no_border">
      <img src="{{ "/assets/i/bullet1-6.png" | relative_url }}" alt="" />
      <h3 class="text-uppercase">Lorem ipsum dolor</h3>
      <div class="bullet1_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
  </div>
</section>