<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include navbar.html -%}
    {{ content }}
    {%- include footer.html -%}

    <!-- all js here -->
    <script src="{{ "/assets/js/forms.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/dropdown.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/sidenav.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/modal.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/global.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/tooltip.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/cards.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/ui_triggers.js" | relative_url }}"></script>
  </body>
</html>
