---
layout: default
---

{%- 
  include content-7.html 
  section1=page.content7Section1
  section2Title=page.content7Section2Title
  section2Text=page.content7Section2Text
  section3Title=page.content7Section3Title
  section3Text=page.content7Section3Text
-%}
{%- 
  include content-15.html 
  content15Title=page.content15Title
  content15Text1=page.content15Text1
  content15Text2=page.content15Text2
  content15LineImg=page.content15LineImg
  content15ScreenImg=page.content15ScreenImg
  content15Section1Title=page.content15Section1Title
  content15Section1Text=page.content15Section1Text
  content15Section2Title=page.content15Section2Title
  content15Section2Text=page.content15Section2Text
-%}

{%- 
  include logos.html 
  logo1=page.logo1
  logo2=page.logo2
  logo3=page.logo3
  logo4=page.logo4
  logo5=page.logo5
-%}

{%- 
  include content-19.html 
  content19Quote=page.content19Quote
-%}


<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
