/* need to break these into their own sheets, text and heights */
.story-text {
  font-size: 1.3em;
}
.vh-50 {
  height: 50vh;
}

/* mobile view */
#logo-large {
  display: none;
}

@media (max-width:993px) {
  .section_img {
    width: 85vw;
  }
}

@media (min-width:993px) {
  #logo-mobile {
    display: none;
  }
  #logo-large {
    display: block !important;
  }
}